.container{
    width: 100%;
    height: auto;
  
}
body{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_main-f h1{
    color: #FFF;
text-align: center;
font-family: Josefin Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 54.167% */
letter-spacing: 4.8px;
text-transform: uppercase;
}

.header_main{
width : 500px;
height : 300px;
display : flex;
justify-content: center;
flex-direction : column;
align-items : center;
}
.header_main-menu{
    display: flex;
    width: 500px;
    height: 60px;
    /* border: 1px solid red; */
}

.header_main-menu input{
    width: 80%;
    height: auto;
}
.header_main-menu button{
    width: 20%;
    height: auto;
    background-color: #5474FD;
stroke-width: 2px;
stroke: #FFF;
color: white;
border-color: #5474FD;
}

.header_main p{
    color: #FFF;
text-align: center;
font-family: Josefin Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 118.182% */
letter-spacing: 6.82px;
}
.nav{
    width: 100%;
    height: 110px;
    background-color: #5474FD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav h1{
    color: #FFF;
font-family: Josefin Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 108.333% */
letter-spacing: 2.4px;
text-transform: uppercase;
}
.nav_menu{
    width: 600px;
    height:100px ;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav_menu a{
    text-decoration: none;
    color: #FFF;
font-family: Aleo;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
text-transform: uppercase;
}
.section{
    background-image: url(section.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section_leftS{
    width: 33%;
    height: 400px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}
.section_leftS h1{
    color: #FFF;
    font-family: Aleo;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 72.222% */
}
.section_leftS p{
    width: 560px;
    color: #E8E8E8;
    font-family: Josefin Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 1.6px;
}
.section_leftS button{
    width: 228px;
height: 63px;
flex-shrink: 0;
    background-color: #5474FD;
}
.section_rightS{
    width: 30%;
    height: 400px;
    /* border: 1px solid red; s */
    display: flex;
    flex-direction: column;
   
    position: relative;
    left: 20px;
}
.img2S{
    right: 30px;
    position: relative;
    left: 80px;
    margin: 10px;
}
.rectangle{
    width: 100%;
    height: 400px;
    background-color:  #333;
    align-items: center;
    display: flex;
    justify-content: center;
}
.rectangle_boxes{
    width: 80%;
    height: 300px;
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: space-evenly;
}
.rectangle_box{
    display: flex;
align-items: center;
flex-direction: column;
}
.rectangle_box img{
    width: 60px;
height: 59px;
flex-shrink: 0;
}
.rectangle_box p{
    color: #E8E8E8;
text-align: center;
font-family: Aleo;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 72.222% */

}
.article{
    background-image: url(article.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.article_leftS{
    position: relative;
    width: 400px;
height: 301px;
flex-shrink: 0;
background-color: #232323;
opacity: 0.9;
/* padding-left: 90px; */
top: 50px;
right: 200px;
display: flex;
flex-direction: column;
padding: 20px;


}
.article_leftS  h1{
    color: #FFF;
font-family: Josefin Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 130% */
text-transform: uppercase;
}
.article_leftS  h5{
    color: #E8E8E8;
    font-family: Josefin Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 130% */
    letter-spacing: 1.5px;
}
.article_leftS button{
    width: 180px;
height: 43px;
flex-shrink: 0;
background-color:  #5474FD;;
    color: #FFF;
font-family: Aleo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 162.5% */
letter-spacing: 1.2px;
text-transform: uppercase;
}
.paragraph{
    color: #E8E8E8;
font-family: Josefin Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 162.5% */
}
.content{
    background-image: url(content.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.content_rightS{
    position: relative;
    width: 440px;
height: 321px;
flex-shrink: 0;
background-color: #232323;
opacity: 0.9;
left: 200px;
padding: 40px;
}
.content_rightS  h1{
    color: #FFF;
font-family: Josefin Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 130% */
text-transform: uppercase;

}
.content_rightS  h5{
    color: #E8E8E8;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    letter-spacing: 1.5px;
}
.content_rightS button{
    width: 228px;
height: 63px;
flex-shrink: 0;
background-color:  #5474FD;;
    color: #FFF;
font-family: Aleo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 1.2px;
text-transform: uppercase;
}
.paragraphh{
    color: #E8E8E8;
font-family: Josefin Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */}
.main_contanier{
    background-image: url(26c6b0ac282100c4a7bad32451ea2470.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 80%;
    height: 400px;
    /* border: 1px solid white;s */
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.main_Right-side img{
    width: 350px;
height: 250px;
flex-shrink: 0;
}

.main_Left-side p{
    color: #E8E8E8;
    font-family: Josefin Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* border: 1px solid red; */
    width: 500px;
    height: 200px;
}
.main_Left-side h1{
    color: #FEFEFE;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    text-transform: uppercase;
}

.footer{
    width: 100%;
    height: 400px;
    background-color:  #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_Left-side{
    background-color: #333;
    left: 20px;
    position: relative;
    width: 600px;
    height: 240px;
}
.footer_main{
    width: 400px;
    height: 300px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.footer_main p{
    color: #FFF;
text-align: center;
font-family: Josefin Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 1.6px;
}
.icons{
    width: 300px;
    height: 60px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.icons i{
    width :147px;
    color: #E8E8E8;
text-align: center;
font-family: FontAwesome;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 1.6px;
}
.main_Left-side i{
    color: #5474FD;
    font-family: FontAwesome;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 72.222% */
}